<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>LoadBalance Test</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <p>Raw_cfg: 1</p>
            </div>
            <div class="col-md-2">
                <p>Diff_cfg: 2</p>
            </div>
        </div>
        <p>Raw config</p>
        <div class="row">
            <div class="col-md-8">
<pre>
balance urh
server s1 192.168.135.101:8500
server s2 192.168.135.101:8500 weight 100
server s3 192.168.135.101:8500 weight 10
</pre>
            </div>
        </div>
        <p>Diff config</p>
        <div class="row">
            <div class="col-md-8">
<pre>
balance urh
server s1 192.168.135.101:8500 weight 5
server s2 192.168.135.101:8500 weight 10
server s3 192.168.135.101:8500 weight 5
</pre>
            </div>
        </div>
        <p>Issued result</p>

        <p>Total requests:10000 Total same requests:7500 same ratio: 75%</p>

        <table class="table table-condensed">
            <tr>
                <th>mode\server</th>
                <th>s1</th>
                <th>s2</th>
                <th>s3</th>
            </tr>
            <tr>
                <th>raw_cfg requests(ratio)</th>
                <td>30% 3000</td>
                <td>40% 4000</td>
                <td>30% 3000</td>
            </tr>
            <tr>
                <th>diff_cfg requests(ratio)</th>
                <td>20% 2000</td>
                <td>50% 5000</td>
                <td>30% 3000</td>
            </tr>
            <tr>
                <th>diff_cfg payload change</th>
                <td>peak 100%<br>raw -25% -1000<br>new +33% +500</td>
                <td>peak 192%<br>raw +20% +1000<br>new +66% +2000<br></td>
                <td>peak 100%<br>raw +0% +0<br> new +0% +0<br></td>
            </tr>

            <tr>
                <th>same requests</th>
                <td>20% 1500</td>
                <td>40% 3000</td>
                <td>40% 3000</td>
            </tr>
            <tr>
                <th>sr/raw_cfg requests</th>
                <td>50%</td>
                <td>75%</td>
                <td>100%</td>
            </tr>
           <tr>
                <th>sr/diff_cfg requests</th>
                <td>75%</td>
                <td>60%</td>
                <td>100%</td>
            </tr>
        </table>
    </div>
</body>
</html>
