<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>LoadBalance Test</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <p>Raw_cfg: {{raw_at_id}}</p>
            </div>
            <div class="col-md-2">
                <p>Diff_cfg: {{diff_at_id}}</p>
            </div>
        </div>
        <p>Raw config</p>
        <div class="row">
            <div class="col-md-8">
<pre>
{{raw_server_config}}
</pre>
            </div>
        </div>
        <p>Diff config</p>
        <div class="row">
            <div class="col-md-8">
<pre>
{{diff_server_config}}
</pre>
            </div>
        </div>
        <p>Issued result</p>

        <p>Total requests:{{total_info.total_url_count}} Total same requests:{{total_info.total_same_url_count}} same ratio: {{total_info.total_ratio}}</p>
        <table class="table table-condensed">
            <thead>
                <th>server</th>
                <th>raw reqs</th>
                <th>diff reqs</th>
                <th>diff change peak</th>
                <th>diff change flow</th>
                <th>diff change new</th>
                <th>same reqs</th>
                <th>same reqs/raw reqs</th>
                <th>same reqs/diff reqs</th>
            </thead>
            <tbody>
                {% for item in aadata %}
                <tr>
                    <td>{{item.server}}</td>
                    <td>{{item.rr}}</td>
                    <td>{{item.dr}}</td>
                    <td>{{item.dc_peak}}</td>
                    <td>{{item.dc_flow}}</td>
                    <td>{{item.dc_new}}</td>
                    <td>{{item.sr}}</td>
                    <td>{{item.srr}}</td>
                    <td>{{item.sdr}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
